@model IEnumerable<TRS.Models.FrequencyHeader>

@{
    ViewBag.Title = "Index";
}



@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div class="myforms">
    <h2>Frequency Header</h2>
    @Html.Partial("_freqHdrLst")
</div>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">
    $(function () {
        $('#gvFreqHdr').Scrollable({
            ScrollHeight: 800
        });
    });
    //Update event handler.
    $("body").on("click", "#gvFreqHdr TBODY .Update", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find(".text").length > 0) {
                var span = $(this).find(".label");
                var input = $(this).find(".text");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Cancel").hide();
        $(this).hide();

        var frequencyheader = {};
        frequencyheader.ID = row.find(".ID").find(".label").html();
        frequencyheader.Freqcode = row.find(".Freqcode").find(".label").html();
        frequencyheader.Qty = row.find(".Qty").find(".label").html();
        frequencyheader.Description = row.find(".Description").find(".label").html();
        $.ajax({
            type: "POST",
            url: "/FrequencyHeaders/UpdateFrequencyHeader",
            data: '{FrequencyHeader:' + JSON.stringify(frequencyheader) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
    });
    //Cancel event handler.
    $("body").on("click", "#gvFreqHdr TBODY .Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find(".text").length > 0) {
                var span = $(this).find(".label");
                var input = $(this).find(".text");
                input.val(span.html());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Update").hide();
        $(this).hide();
    });
    //Edit event handler.
    $("body").on("click", "#gvFreqHdr TBODY .Edit", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find(".text").length > 0) {
                $(this).find(".text").show();
                $(this).find(".label").hide();
            }
        });
        row.find(".Update").show();
        row.find(".Cancel").show();
        $(this).hide();
    });
</script>